* {
    font-family: 'Muli', 'sans-serif';
}

.group-1-col {
    box-shadow: 0 1px 1px #e4e7ed;
    cursor: pointer;
}

.group-1-col:hover {
    box-shadow: 0 0 36px #d8dde5;
}

.group-1-statistic {
    width: 60%;
    float: right;
    text-align: right;
}

/* .background-profile {
    filter: gray; 
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.background-profile:hover {
    -webkit-filter: grayscale(0);
    filter: none;
} */

.name-profile {
    margin-top: 25px;
}

.name-profile h4, .name-profile h5, .name-profile h6 {
    color: white;
}

.avatar-profile {
    border: 5px solid #ddd;
    cursor: pointer;
}

.user-management th, .notification th {
    background: #eee !important;
}

.user-management .ant-table-content, .notification .ant-table-content {
    border-radius: 0 !important;
    background-color: white !important;
}

.my-modal .ant-modal-body{
    padding: 15px !important;
}