#time-left-container {
  width: 85%;
  margin: 0 auto;
  text-align: right;
  color: red;
  font-size: 20px;
  padding-top: 15px;
}

#time-left {
  width: 150px;
  height: auto;
  background-color: rgba(243, 89, 69, 0.815);
  color: #fff;
  border: 1px solid rgb(230, 112, 77);
  float: right;
  padding: 7px;
  text-align: center;
  border-radius: 2px;
}

.question-list {
  width: 85%;
  color: #555;
  font-size: 14px;
  padding-top: 30px;
  padding-left: 30px;
  margin: 0 auto;
}

.test-heading{
  font-size: 25px;
}

.quiz-container {
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(145, 144, 144, 0.795);
  padding-bottom: 12px;
  padding-top: 10px;
}

.quiz-container .question-header {
  font-size: 20px;
  padding: 10px 20px 20px 10px;
}

.mc-answer-option {
  margin-bottom: 8px;
}

.mc-answer-option-letter {
  border: 1px solid #555;
  border-radius: 50%;
  display: block;
  float: left;
  font-weight: 600;
  height: 40px;
  line-height: 38px;
  text-align: center;
  width: 40px;
}

.mc-answer-option-text {
  box-sizing: content-box;
  margin-left: 55px;
  min-height: 20px;
  padding: 10px 10px 10px 0;
  word-wrap: break-word;
}

.option-selected {
  background-color: #6d9ec4;
  border: 1px solid #6d9ec4;
  color: #fff;
}

.submit-button-container{
  width: 85%;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
}

.submit-button{
  border-radius: 3px;
}

.test-container{
  width: 85%;
  margin: 0 auto;
  margin-top: 60px;
  
}

.test-container img{
  width: 30%;
  height: auto;
  float: left;
}

.test-container .quizzes-search-bar{
  width: 60%;
  float: right;
}

.test-container .input-block .search-input{
  width: 60%;
  font-size: 20px;
  padding-left: 70px;
}

.test-container .input-block button{
  width: 30%;
  float: right;
}

.test-container .input-block i{
}

.view-result {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
  display: inline-block;
  font-weight: 400;
  vertical-align: middle;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#quiz-score {
  width: 12%;
  float: right;
  margin-top: 20px;
  margin-right: 7.5%;
  text-transform: capitalize;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: #f33a21;
}

.false-select{
  background-color: #f5bec3;
}

.true-select{
  background-color: #caf7d4;
}

.question-score{
  font-size: 15px;
  color: #b43641;
  margin-top: 15px;
  margin-left: 5px;
}