.footer div {
    margin: 0 !important;
}

.footer {
    background-color: transparent;
    font-weight: 400;
}

.footer .text-pulse {
    color: tomato;
}

.footer {
    color: #888;
    padding: 24px 0px !important;
    /* padding-right: 20px !important; */
}
