.footer div {
    margin: 0 !important;
}

.footer {
    background-color: transparent;
    font-weight: 400;
}

a:link, a:visited {
    color: green;
    text-decoration: none;
    font-weight: bold;
}

a:hover, a:active {
    color: #080008;
}

.footer .text-pulse {
    color: tomato;
}
